.custom-tilt {
    display: flex;
    justify-content: center;
    padding: 6em;
}

.contact-form {
    text-align: left;
}

label[class*=' MuiFormLabel-focused'],div[class^='MuiFormLabel-focused'] {
    color: rgba(240, 229, 208, 0.36) !important;
    bottom: -6em;
}

div[class*=' MuiInput-underline']:after {
    border-bottom: none !important;
}

.contact-button {
    margin: 2em 1em 1em 0 !important;
    letter-spacing: .2em;
    color: rgba(240, 229, 208, .6) !important;
    border: 1px solid rgba(240, 229, 208, .6) !important;
    transition: all .6s !important;
    background: none;
}

.contact-button:hover {
    color: rgba(240, 229, 208, 1) !important;
    border: 1px solid rgba(240, 229, 208, 1) !important;
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(234, 22, 22, 0)), color-stop(1%, rgba(86, 87, 97, 0)), color-stop(100%, rgba(224, 224, 255, 0.07)));
}

.contact-field {
    border-bottom: 1px solid rgba(241,230,209,.6) !important;
    margin: 1.3em 0;
}

.contact-field label {
    color: #f0e5d0;
    letter-spacing: .1em;
    left: .5em;
}

.contact-field label, .message-field label {
    color: rgba(241,230,209,.6);
    letter-spacing: .1em;
}

.contact-field, .message-field {
    padding-left: .2em !important;
}

.contact-paper {
    border-radius: 0 !important;
    min-width: 50vw;
    max-width: 1000px;
    height: 60vh;
    background-color: #000000e3 !important;
    position: relative;
    overflow: hidden;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2F303A', endColorstr='#1A1C22', GradientType=0);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(0,0,0,0.26)), color-stop(100%, rgba(26, 28, 34, 1)));
    background: -webkit-linear-gradient(123deg, rgba(26, 28, 34, 1) 0%, rgba(0,0,0,0.26) 100%);
    background: -o-linear-gradient(123deg, rgba(26, 28, 34, 1) 0%, rgba(0,0,0,0.26) 100%);
    background: linear-gradient(327deg, rgba(26, 28, 34, 1) 0%, rgba(0,0,0,0.26) 100%);
}

.contact-form-container {
    min-width: 100%;
}

.contact-left-col {
    padding: 2em;
}

.contact-right-col {
    opacity: 0;
    -webkit-animation: reveal .75s ease-in forwards;
    animation: reveal .75s ease-in forwards;
    -moz-animation-delay: .75s;
    -webkit-animation-delay: .75s;
    -o-animation-delay: .75s;
    animation-delay: .75s;
}

@-webkit-keyframes reveal {
    100% {
        opacity: 1;
    }
}
@keyframes reveal {
    100% {
        opacity: 1;
    }
}

.contact-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

input, textarea {
    color: rgb(241,230,209) !important;
    font-size: 1.2em !important;
    padding-bottom: .2em !important;
}