.contact-form-container {
    margin: 11em;
}

.custom-tilt {
    padding: 6em;
}

.contact-root {
    margin: 0 auto;
    /*// width: '100vw',*/
/*...theme.mixins.gutters(),*/
/*// paddingTop: theme.spacing.unit * 2,*/
/*// paddingBottom: theme.spacing.unit * 2,*/
    border-radius: 0;
    /*// margin: '10vh 20vw',*/
    min-width: 50vw;
    max-width: 80vw;
    /*padding: '.6em !important',*/
}

.contact-form {
    text-align: center;
}

label[class*=' MuiFormLabel-focused'],div[class^='MuiFormLabel-focused'] {
    color: rgba(240, 229, 208, 0.36) !important;
    bottom: -6em;
}

div[class*=' MuiInput-underline']:after {
    border-bottom: none !important;
}

.contact-field {
    border: 1px solid rgb(241,230,209) !important;
    margin: 1.3em 0;
    /*-webkit-clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);*/
    /*clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);*/
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(38,40,48,0)), color-stop(55%, rgba(38,40,48,0.55)), color-stop(100%, rgba(38,40,48,1)));
    background: -webkit-linear-gradient(181deg, rgba(38,40,48,1) 0%, rgba(38,40,48,0.55) 45%, rgba(38,40,48,0) 100%);
    background: -o-linear-gradient(181deg, rgba(38,40,48,1) 0%, rgba(38,40,48,0.55) 45%, rgba(38,40,48,0) 100%);
    background: linear-gradient(269deg, rgba(38,40,48,1) 0%, rgba(38,40,48,0.55) 45%, rgba(38,40,48,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#262830', endColorstr='#262830',GradientType=1 );
    -webkit-box-shadow: inset 0px 0px 39px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 39px -8px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 39px -8px rgba(0,0,0,0.75);
}

.contact-field label {
    color: #f0e5d0;
    letter-spacing: .1em;
    left: .5em;
}

.login-form-container {
    min-width: 100%;
}

.contact-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

input, textarea {
    color: rgb(241,230,209) !important;
    font-size: 1.2em !important;
    padding-bottom: .2em !important;
}