.bg {
    transition: all 1s;
    /*background: -moz-linear-gradient(123deg, rgba(33,35,41,1) 0%, rgba(86,87,97,1) 99%, rgba(86,87,97,1) 100%); !* ff3.6+ *!*/
    /*background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(86,87,97,1)), color-stop(1%, rgba(86,87,97,1)), color-stop(100%, rgba(33,35,41,1))); !* safari4+,chrome *!*/
    /*background: -webkit-linear-gradient(123deg, rgba(33,35,41,1) 0%, rgba(86,87,97,1) 99%, rgba(86,87,97,1) 100%); !* safari5.1+,chrome10+ *!*/
    /*background: -o-linear-gradient(123deg, rgba(33,35,41,1) 0%, rgba(86,87,97,1) 99%, rgba(86,87,97,1) 100%); !* opera 11.10+ *!*/
    /*background: -ms-linear-gradient(123deg, rgba(33,35,41,1) 0%, rgba(86,87,97,1) 99%, rgba(86,87,97,1) 100%); !* ie10+ *!*/
    /*background: linear-gradient(327deg, rgba(33,35,41,1) 0%, rgba(86,87,97,1) 99%, rgba(86,87,97,1) 100%); !* w3c *!*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#565761', endColorstr='#212329',GradientType=0 ); !* ie6-9 *!*/
}

.landingpage-container {
    overflow: hidden;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.landing-paper-bg {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 2em 0;
    background-color: #000000ab !important;
    max-width: 1000px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2F303A', endColorstr='#1A1C22', GradientType=0);
    background: -moz-linear-gradient(123deg, rgba(26, 28, 34, 1) 0%, rgba(0,0,0,0.26) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(0,0,0,0.26)), color-stop(100%, rgba(26, 28, 34, 1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(123deg, rgba(26, 28, 34, 1) 0%, rgba(0,0,0,0.26) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(123deg, rgba(26, 28, 34, 1) 0%, rgba(0,0,0,0.26) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(123deg, rgba(26, 28, 34, 1) 0%, rgba(0,0,0,0.26) 100%); /* ie10+ */
    background: linear-gradient(327deg, rgba(26, 28, 34, 1) 0%, rgba(0,0,0,0.26) 100%); /* w3c */
}

.landing-paper-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    padding: 2em 0;
    color: rgb(182, 143, 112) !important;
}

.landing-paper-content .container-fluid {
    flex-grow: 1;
}

.landing-paper-shine {
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    -webkit-transform: skewX(-45deg);
    transform: skewX(-45deg);
    opacity: 0;
    -webkit-animation: lshine .75s ease-in forwards;
    animation: lshine .75s ease-in forwards;
    -moz-animation-delay: 3s;
    -webkit-animation-delay: 3s;
    -o-animation-delay: 3s;
    animation-delay: 3s;
}

@-webkit-keyframes lshine {
    0% {
        opacity: .4;
    }
    100% {
        opacity: 0;
        left: 135%;
        width: 80%;
        display: none;
    }
}
@keyframes lshine {
    0% {
        opacity: .4;
    }
    100% {
        opacity: 0;
        left: 135%;
        width: 80%;
        display: none;
    }
}

.portrait {
    /*margin-bottom: 3em;*/
    /*width: 240px;*/
    width: 100%;
    max-width: 150px;
    /*height: 300px;*/
    border-radius: 0 !important;
}

.kwlogo-container {
    max-width: 200px;
    height: auto;
    width: 80%;
    margin: 0 auto;
}

#kwlogo path {
    stroke-width: .5pt !important;
    stroke: rgb(239, 239, 239) !important;
    fill: none !important;
    stroke-dasharray: 1000;
    opacity: 0;
    animation: logoanim 2.5s ease-in-out forwards;
}

@keyframes logoanim {
    0% {
        opacity: 0;
        /*fill: none;*/
        stroke-dashoffset: 1000;
    }
    100% {
        opacity: 1;
        fill: white;
        stroke-dashoffset: 0;
    }

}

.bio-title {
    font-size: 1.5em;
    line-height: 1.2em;
    font-weight: lighter;
    letter-spacing: .12em;
}

.tab-text {
    text-align: center;
    letter-spacing: .3em;
    color: rgb(182, 143, 112) !important;
    font-weight: lighter !important;
    font-size: 1em !important;
    /*-webkit-clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 18% 100%);*/
    /*clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 18% 100%);*/
    /*background: -moz-linear-gradient(181deg, rgba(38,40,48,1) 0%, rgba(38,40,48,0.55) 45%, rgba(38,40,48,0) 100%); !* ff3.6+ *!*/
    /*background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(38,40,48,0)), color-stop(55%, rgba(38,40,48,0.55)), color-stop(100%, rgba(38,40,48,1))); !* safari4+,chrome *!*/
    /*background: -webkit-linear-gradient(181deg, rgba(38,40,48,1) 0%, rgba(38,40,48,0.55) 45%, rgba(38,40,48,0) 100%); !* safari5.1+,chrome10+ *!*/
    /*background: -o-linear-gradient(181deg, rgba(38,40,48,1) 0%, rgba(38,40,48,0.55) 45%, rgba(38,40,48,0) 100%); !* opera 11.10+ *!*/
    /*background: -ms-linear-gradient(181deg, rgba(38,40,48,1) 0%, rgba(38,40,48,0.55) 45%, rgba(38,40,48,0) 100%); !* ie10+ *!*/
    /*background: linear-gradient(269deg, rgba(38,40,48,1) 0%, rgba(38,40,48,0.55) 45%, rgba(38,40,48,0) 100%); !* w3c *!*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#262830', endColorstr='#262830',GradientType=1 ); !* ie6-9 *!*/

}

.email-icon, .phone-icon {
    line-height: 1.35417em;
    padding-right: 1.2em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    vertical-align: middle;
}

/*.tech-mask {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*-webkit-mask: url("./mask1.png");*/
    /*-webkit-mask-size: cover;*/
    /*-webkit-mask-position: center;*/
    /*-webkit-mask-repeat: no-repeat;*/
/*}*/

.soft-shadow {
    box-shadow:0 2px 16px #000000;
}

.landing-tab {
    /*background: #262830 !important;*/
    background-color: unset !important;
    border-radius: 0 !important;
    padding: .4em;
    top: -5.2em;
    right: -1.74em;
    position: absolute;
    width: 40em;
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 18% 100%);
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 18% 100%);
    background: -moz-linear-gradient(181deg, rgba(38,40,48,1) 0%, rgba(38,40,48,0.55) 45%, rgba(38,40,48,0) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(38,40,48,0)), color-stop(55%, rgba(38,40,48,0.55)), color-stop(100%, rgba(38,40,48,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(181deg, rgba(38,40,48,1) 0%, rgba(38,40,48,0.55) 45%, rgba(38,40,48,0) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(181deg, rgba(38,40,48,1) 0%, rgba(38,40,48,0.55) 45%, rgba(38,40,48,0) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(181deg, rgba(38,40,48,1) 0%, rgba(38,40,48,0.55) 45%, rgba(38,40,48,0) 100%); /* ie10+ */
    background: linear-gradient(269deg, rgba(38,40,48,1) 0%, rgba(38,40,48,0.55) 45%, rgba(38,40,48,0) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#262830', endColorstr='#262830',GradientType=1 ); /* ie6-9 */
}

.top-left-corner {
    height: 1px;
    width: 1px;
    position: relative;
    left: -.8em;
    top: -2em;
}

.top-left-y {
    /*top: 5em;*/
    /*left: 5em;*/
    /*position: absolute;*/
    width: 1px;
    height: 0;
    background: rgb(245, 222, 195);
    opacity: .4;
}

.top-left-x {
    background: rgb(245, 222, 195);
    width: 0;
    height: 1px;
    /*position: absolute;*/
    /*top: 0;*/
    /*top: 5em;*/
    /*left: 5em;*/
    opacity: .4;
}

.video-background {
    opacity: .4;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    /*top: 5.06em;*/
}

.angle-div {
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(234, 22, 22, 0)), color-stop(1%, rgba(86, 87, 97, 0)), color-stop(100%, rgba(0,0,0,0.69)));
    width: 150vw;
    height: 100vh;
    position: fixed;
    transform: skewX(-45deg);
    /*z-index: -100;*/
}

.underline {
    opacity: 1;
    width: 2em;
    height: 1px;
    background: rgb(182, 143, 112);
}

.portrait-col {
    text-align: center;
}

.social-grid {
    margin: 2em;
}

.social-grid-col {
    font-size: .7em;
    /*border: 1px solid #15171b;*/
    text-align: center;
    padding: 0 !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
}

.social-link:hover {
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, .6));
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(234, 22, 22, 0)), color-stop(1%, rgba(86, 87, 97, 0)), color-stop(100%, rgba(224, 224, 255, 0.07)));
}

.social-link {
    border-radius: 4px;
    color: rgb(182, 143, 112) !important;
    transition: all 1s;
    background: none;
    transform: rotate(45deg);
    border: 1px solid rgb(182, 143, 112);
    height: 100px;
    width: 100px;
    line-height: 100px;
    padding: 0;
    display: block;
    font-weight: 300 !important;
    margin: 0 auto;
}

.social-link > .social-icon {
    transform: rotate(-45deg) !important;
    height: 100%;
    width: 100%;
}

a.social-link div svg {
    height: auto;
    width: 3em;
}

