.card-desc {
    position: absolute;
    bottom: 0;
    background: none;
    /*background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.76) 76%, rgba(0,0,0,1) 100%); !* FF3.6-15 *!*/
    /*background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.76) 76%,rgba(0,0,0,1) 100%); !* Chrome10-25,Safari5.1-6 *!*/
    /*background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.76) 76%,rgba(0,0,0,1) 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); !* IE6-9 *!*/
}

.hex-item {
    /*-webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);*/
    /*clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);*/
    /*-webkit-shape-outside: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);*/
}

.project-grid {
    padding: 0;
}

.projects-container {
    width: 80%;
    height: 100%;
}

.project-paper {
    margin: 0 auto;
    /*border-radius: 0 !important;*/
    background-color: rgba(0, 0, 0, .5) !important;
    /*max-width: 1000px !important;*/
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 0 !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2F303A', endColorstr='#1A1C22', GradientType=0);
    background: -moz-linear-gradient(123deg, rgba(26, 28, 34, 1) 0%, rgb(40, 41, 51) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgb(40, 41, 51)), color-stop(100%, rgba(26, 28, 34, 1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(123deg, rgba(26, 28, 34, 1) 0%, rgb(40, 41, 51) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(123deg, rgba(26, 28, 34, 1) 0%, rgb(40, 41, 51) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(123deg, rgba(26, 28, 34, 1) 0%, rgb(40, 41, 51) 100%); /* ie10+ */
    background: linear-gradient(327deg, rgba(26, 28, 34, 1) 0%, rgb(40, 41, 51) 100%); /* w3c */
    /*background: none !important;*/

}

.project-img-col figure {
    margin: 0;
}

.project-img-col figure:after {
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    -moz-box-shadow: inset 0px 0px 26px 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 26px 0px rgba(0,0,0,0.75);
}

.project-paper::before {
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    -webkit-transform: skewX(-45deg);
    transform: skewX(-45deg);
    opacity: 0;
}

.project-col {
    padding: 1em;
    cursor: pointer;
    transition: all .5s;
}

.project-col:active {
    opacity: 0.5;
}

.project-paper:hover::before {
    -webkit-animation: shine .75s ease-in forwards;
    animation: shine .75s ease-in forwards;
}

.project-col:hover .project-img-col * {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.project-img-col * {
    width: 100%;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.project-icon svg {
    height: auto;
    width: 24px;
}

@-webkit-keyframes shine {
    0% {
        opacity: .8;
    }
    100% {
        left: 125%;
    }
}
@keyframes shine {
    0% {
        opacity: .8;
    }
    100% {
        left: 125%;
    }
}

.project-img-col {
    /*padding: 2em;*/
    overflow: hidden;
    text-align: center;
}

.project-desc-col {
    /*position: relative;*/
    color: white;
    padding: 2em;
}

.project-desc-col * {
    padding: 0;
    margin: 0;
}

.project-title-col {
    padding: .5em 2em;
}

.project-title {
    /*position: absolute;*/
    font-size: 1.6em;
    /*top: 4em;*/
    /*left: 2em;*/
    color: white;
    /*background: rgba(0, 0, 0, 0.37);*/
    letter-spacing: .1em;
    margin: 0;
}

.shine{
    width: 1000px;
    height: 100px;
    margin-left: -100px;
    transform: rotate(30deg);
    background: -webkit-linear-gradient(top, transparent, rgba(200,200,200,0.1),transparent);
    position: absolute;
    -webkit-animation: shine 6s ease-in-out infinite;
}

@-webkit-keyframes shine{
    0%,100%{
        margin-top: -100px;
    }
    50%{
        margin-top: 800px;
    }
}
