a {
    letter-spacing: .3em;
    padding: 1.2em;
    font-size: 1.2em;
    font-weight: 400 !important;
    color: #111111 !important;
    text-decoration: none;
    transition: all .6s;
}

.link-line {
    top: 6px;
}

.link-line, .link-line-a {
    opacity: 0;
    transition: all 1s;
    height: 1px;
    width: 1px;
    background: rgb(241,230,209);
    /*background: radial-gradient(circle, rgba(241,230,209,1) 0%, rgba(241,230,209,1) 87%, rgba(0,212,255,0) 100%);    position: relative;*/
}

.link-line-a {
    float: right;
    top: -6px !important;
}

button:hover .link-line, button:hover .link-line-a {
    width: 100%;
    opacity: 1;
    float: inside;
}

button:hover {
    background: none !important;
}

.active-nav {
    /*color: #f1e6d1 !important;*/
    color: rgb(241,230,209) !important;
}

.name {
    font-weight: 300 !important;
}