.no-pad {
  padding: 0 !important;
}

.gold {
  color: rgb(182, 143, 112);
}

.gold-b {
  color: rgb(254, 220, 157);
}

.blue {
  color: #8ebdf6 !important;
}

body {
  background: black;
  overflow: hidden;
  width: 100vw;
  margin: 0;
  padding: 0;
  /*font-family: sans-serif;*/
  /*background: #f1f1f1;  !* fallback for old browsers *!*/
  /*background: -webkit-linear-gradient(7deg, #c3b5a2, #d6c6b2);  !* Chrome 10-25, Safari 5.1-6 *!*/
  /*background: linear-gradient(7deg, #c3b5a2, #d6c6b2); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
}

div.containment {
  height: 100vh;
  width: 100vw;
  /*background: url('./media/hidden+path+3.jpg') no-repeat center center fixed !important;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*-webkit-transition: all 1s ease-in-out;*/
  /*transition: all 1s ease-in-out;*/
}

div.containment.aboutme-bg, div.containment.landing-bg, div.containment.projects-bg, div.containment.resume-bg, div.containment.contact-bg {
  background: black;
  /*background: #f1f1f1;  !* fallback for old browsers *!*/
  /*background: -webkit-linear-gradient(7deg, #c3b5a2, #dcdcdc);  !* Chrome 10-25, Safari 5.1-6 *!*/
  /*background: linear-gradient(7deg, #c3b5a2, #dcdcdc); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/

  background: -moz-linear-gradient(123deg, rgba(33,35,41,1) 0%, rgba(86,87,97,1) 99%, rgba(86,87,97,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(86,87,97,1)), color-stop(1%, rgba(86,87,97,1)), color-stop(100%, rgba(33,35,41,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(123deg, rgba(33,35,41,1) 0%, rgba(86,87,97,1) 99%, rgba(86,87,97,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(123deg, rgba(33,35,41,1) 0%, rgba(86,87,97,1) 99%, rgba(86,87,97,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(123deg, rgba(33,35,41,1) 0%, rgba(86,87,97,1) 99%, rgba(86,87,97,1) 100%); /* ie10+ */
  background: linear-gradient(327deg, rgba(33,35,41,1) 0%, rgba(86,87,97,1) 99%, rgba(86,87,97,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#565761', endColorstr='#212329',GradientType=0 ); /* ie6-9 */
}

.landing-paper-bg {
  display: flex;
  flex-direction: column;
  padding: 3em;
  background-color: #000000ab !important;
  height: 62vh;
  max-width: 1000px !important;
  /*background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(45, 46, 56, 0)), color-stop(100%, rgba(26, 28, 34, 1)));*/
  /*background: -webkit-linear-gradient(123deg, rgba(26, 28, 34, 1) 0%, rgba(47, 48, 58, 0) 100%);*/
  /*background: -o-linear-gradient(123deg, rgba(26, 28, 34, 1) 0%, rgba(47, 48, 58, 1) 100%);*/
  /*background: linear-gradient(327deg, rgba(26, 28, 34, 1) 0%, rgba(47, 48, 58, 0) 100%);*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2F303A', endColorstr='#1A1C22', GradientType=0);
  /*height: 66vh;*/
  background: -moz-linear-gradient(123deg, rgba(26, 28, 34, 1) 0%, rgba(0,0,0,0.26) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(0,0,0,0.26)), color-stop(100%, rgba(26, 28, 34, 1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(123deg, rgba(26, 28, 34, 1) 0%, rgba(0,0,0,0.26) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(123deg, rgba(26, 28, 34, 1) 0%, rgba(0,0,0,0.26) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(123deg, rgba(26, 28, 34, 1) 0%, rgba(0,0,0,0.26) 100%); /* ie10+ */
  background: linear-gradient(327deg, rgba(26, 28, 34, 1) 0%, rgba(0,0,0,0.26) 100%); /* w3c */
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2F303A', endColorstr='#1A1C22', GradientType=0); !* ie6-9 *!*/
  /*-webkit-clip-path: polygon(0% 100%, 92% 100%, 100% 86%, 100% 90%, 94% 100%, 100% 100%, 100% 0%, 0% 0%);*/
  /*clip-path: polygon(0% 100%, 92% 100%, 100% 86%, 100% 90%, 94% 100%, 100% 100%, 100% 0%, 0% 0%);*/
}

.landing-paper-border {
  max-width: 56vw !important;
  background: none !important;
  padding: .6em !important;
  -webkit-box-shadow: inset 0px 0px 0px 0.16em #e0d4be !important;
  -moz-box-shadow: inset 0px 0px 0px 0.16em #e0d4be !important;
  box-shadow: inset 0px 0px 0px 0.16em #e0d4be !important;
  /*background: -moz-radial-gradient(bottom, ellipse cover, rgba(214,198,178,.3) 0%, rgba(209,167,88,.3) 100%); !* ff3.6+ *!*/
  /*background: -webkit-gradient(radial, center bottom, 0px, center bottom, 100%, color-stop(0%, rgba(214,198,178,.3)), color-stop(100%, rgba(209,167,88,.3))); !* safari4+,chrome *!*/
  /*background:-webkit-radial-gradient(bottom, ellipse cover, rgba(214,198,178,.3) 0%, rgba(209,167,88,.3) 100%); !* safari5.1+,chrome10+ *!*/
  /*background: -o-radial-gradient(bottom, ellipse cover, rgba(214,198,178,.3) 0%, rgba(209,167,88,.3) 100%); !* opera 11.10+ *!*/
  /*background: -ms-radial-gradient(bottom, ellipse cover, rgba(214,198,178,.3) 0%, rgba(209,167,88,.3) 100%); !* ie10+ *!*/
  /*background:radial-gradient(ellipse at bottom, rgba(214,198,178,.3) 0%, rgba(209,167,88,.3) 100%); !* w3c *!*/
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6c6b2', endColorstr='#D1A758',GradientType=1 ); !* ie6-9 *!*/
  /*background: -webkit-linear-gradient(7deg, #c3b5a2, #d6c6b2);  !* Chrome 10-25, Safari 5.1-6 *!*/
  /*background: linear-gradient(7deg, #c3b5a2, #d6c6b2); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
}

/*div.containment.aboutme-bg, div.containment.landing-bg, div.containment.projects-bg, div.containment.resume-bg, div.containment.contact-bg {*/
  /*background: #f1f1f1;  !* fallback for old browsers *!*/
  /*!*background: -webkit-linear-gradient(7deg, #c3b5a2, #dcdcdc);  !* Chrome 10-25, Safari 5.1-6 *!*!*/
  /*!*background: linear-gradient(7deg, #c3b5a2, #dcdcdc); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*!*/

  /*background: -moz-linear-gradient(123deg, rgb(68, 71, 83) 0%, rgb(218, 223, 227) 99%, rgb(255, 255, 255) 100%); !* ff3.6+ *!*/
  /*background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgb(255, 255, 255)), color-stop(1%, rgb(218, 223, 227)), color-stop(100%, rgb(68, 71, 83))); !* safari4+,chrome *!*/
  /*background: -webkit-linear-gradient(123deg, rgb(68, 71, 83) 0%, rgb(218, 223, 227) 99%, rgb(255, 255, 255) 100%); !* safari5.1+,chrome10+ *!*/
  /*background: -o-linear-gradient(123deg, rgb(68, 71, 83) 0%, rgb(218, 223, 227) 99%, rgb(255, 255, 255) 100%); !* opera 11.10+ *!*/
  /*background: -ms-linear-gradient(123deg, rgb(68, 71, 83) 0%, rgb(218, 223, 227) 99%, rgb(255, 255, 255) 100%); !* ie10+ *!*/
  /*background: linear-gradient(327deg, rgb(68, 71, 83) 0%, rgb(218, 223, 227) 99%, rgb(255, 255, 255) 100%); !* w3c *!*/
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#565761', endColorstr='#212329',GradientType=0 ); !* ie6-9 *!*/
/*}*/

.aboutme-paper-bg {
  background-color: #000000e3 !important;
  height: 66vh;
  max-width: 1000px !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2F303A', endColorstr='#1A1C22', GradientType=0);
  background: -moz-linear-gradient(123deg, rgba(26, 28, 34, 1) 0%, rgba(0,0,0,0.26) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(0,0,0,0.26)), color-stop(100%, rgba(26, 28, 34, 1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(123deg, rgba(26, 28, 34, 1) 0%, rgba(0,0,0,0.26) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(123deg, rgba(26, 28, 34, 1) 0%, rgba(0,0,0,0.26) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(123deg, rgba(26, 28, 34, 1) 0%, rgba(0,0,0,0.26) 100%); /* ie10+ */
  background: linear-gradient(327deg, rgba(26, 28, 34, 1) 0%, rgba(0,0,0,0.26) 100%); /* w3c */
}

.aboutme-paper-border {
  background: -moz-radial-gradient(bottom, ellipse cover, rgba(142, 189, 246, 0.94) 0%, rgb(26, 41, 63) 100%); /* ff3.6+ */
  background: -webkit-gradient(radial, center bottom, 0px, center bottom, 100%, color-stop(0%, rgb(142, 189, 246)), color-stop(100%, rgb(26, 41, 63))); /* safari4+,chrome */
  background:-webkit-radial-gradient(bottom, ellipse cover, rgb(142, 189, 246) 0%, rgb(26, 41, 63) 100%); /* safari5.1+,chrome10+ */
  background: -o-radial-gradient(bottom, ellipse cover, rgb(142, 189, 246) 0%, rgb(26, 41, 63) 100%); /* opera 11.10+ */
  background: -ms-radial-gradient(bottom, ellipse cover, rgb(142, 189, 246) 0%, rgb(26, 41, 63) 100%); /* ie10+ */
  background:radial-gradient(ellipse at bottom, rgb(142, 189, 246) 0%, rgb(26, 41, 63) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6c6b2', endColorstr='#D1A758',GradientType=1 ); /* ie6-9 */
  /*background: -webkit-linear-gradient(7deg, #c3b5a2, #d6c6b2);  !* Chrome 10-25, Safari 5.1-6 *!*/
  /*background: linear-gradient(7deg, #c3b5a2, #d6c6b2); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
}

*[class^="MuiTouchRipple"] {
  display: none !important;
}

.Tilt {
  height: calc(100% - 70px);
}

/* Mobile media queries */
@media only screen and (max-width: 374px) {
  .nav-button {
    font-size: .9em !important;
  }
  .bio-text {
    padding: 6px 0 !important;
  }
}
@media only screen and (max-width: 767px) {

  .custom-tilt, *[class^="LandingPage-customTilt"] {
    padding: 6px !important;
  }

  .login-left-col {
    padding: 2em !important;
  }

  .login-right-col,
  .top-left-corner,
  .vertical-divider,
  .portrait-col,
  .underline {
    display: none !important;
  }

  .nav-button {
    padding: 8px 0 !important;
  }

  .contact-link {
    font-size: .9em !important;
    display: block;
    padding: .5em !important;
  }

  .landing-paper-content, .landing-paper-bg {
    padding: 1em !important;
  }

  .bio-title {
    font-size: 7vw !important;
    display: block;
    width: 100%;
    text-align: center;
  }

  .bio-text {
    font-size: 4.5vw !important;
  }

  .social-grid, .bio-col {
    padding: 0 !important;
    margin: 0 !important;
  }

  .landing-paper-bg {
    height: 95% !important;
  }

  .bio-col {
    margin: 2em auto;
  }

  .social-link {
    height: 60px !important;
    width: 60px !important;
    line-height: 60px !important;
  }

  .social-grid-col {
    margin-top: 1em !important;
  }

}

@media only screen
and (min-width: 768px)
and (max-width: 1024px) {
  .login-left-col {
    padding-left: 3em !important;
  }
  .social-grid {
    padding: 0 !important;
    margin: 0 !important;
  }
  .social-link {
    height: 80px !important;
    width: 80px !important;
    line-height: 80px !important;
  }
  .landing-paper-content {
    padding: 2em !important;
  }
  .container-fluid {
    margin: 2em 0 !important;
  }
  .portrait-col {
    padding-right: 2em !important;
  }
}



























































