html {
  overflow-x: hidden;
}

* {
  font-weight: lighter !important;
}

#root {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.main-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*top: 70.27px;*/
  position: relative;
  padding-top: 70px;
}

.container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.bio-text {
  color: #e5e5e5 !important;
  font-size: 1.1em !important;
  font-weight: lighter !important;
  padding: 1em 0;
}

.no-pad {
  margin: 0 !important;
  padding: 0 !important;
}

.gold {
  color: rgb(182, 143, 112);
}

.gold-b {
  color: rgb(254, 220, 157);
}

.blue {
  color: #8ebdf6 !important;
}

body {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  background: black;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100vw;
  margin: 0;
  padding: 0;
  /*font-family: sans-serif;*/
  /*background: #f1f1f1;  !* fallback for old browsers *!*/
  /*background: -webkit-linear-gradient(7deg, #c3b5a2, #d6c6b2);  !* Chrome 10-25, Safari 5.1-6 *!*/
  /*background: linear-gradient(7deg, #c3b5a2, #d6c6b2); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
}

div.containment {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  /*overflow-y: auto;*/
  /*overflow-x: hidden;*/
  width: 100%;
  /*background: url('./media/hidden+path+3.jpg') no-repeat center center fixed !important;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*-webkit-transition: all 1s ease-in-out;*/
  /*transition: all 1s ease-in-out;*/
}

div.containment.aboutme-bg, div.containment.landing-bg, div.containment.projects-bg, div.containment.resume-bg, div.containment.contact-bg {
  background: black;
  /*background: #f1f1f1;  !* fallback for old browsers *!*/
  /*background: -webkit-linear-gradient(7deg, #c3b5a2, #dcdcdc);  !* Chrome 10-25, Safari 5.1-6 *!*/
  /*background: linear-gradient(7deg, #c3b5a2, #dcdcdc); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/

  background: -moz-linear-gradient(123deg, rgba(33,35,41,1) 0%, rgba(86,87,97,1) 99%, rgba(86,87,97,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(86,87,97,1)), color-stop(1%, rgba(86,87,97,1)), color-stop(100%, rgba(33,35,41,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(123deg, rgba(33,35,41,1) 0%, rgba(86,87,97,1) 99%, rgba(86,87,97,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(123deg, rgba(33,35,41,1) 0%, rgba(86,87,97,1) 99%, rgba(86,87,97,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(123deg, rgba(33,35,41,1) 0%, rgba(86,87,97,1) 99%, rgba(86,87,97,1) 100%); /* ie10+ */
  background: linear-gradient(327deg, rgba(33,35,41,1) 0%, rgba(86,87,97,1) 99%, rgba(86,87,97,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#565761', endColorstr='#212329',GradientType=0 ); /* ie6-9 */
}

/*div.containment.projects-bg {*/
  /*background: -moz-linear-gradient(123deg, rgba(33,35,41,1) 0%, rgb(208, 211, 227) 99%, rgb(239, 239, 239) 100%); !* ff3.6+ *!*/
  /*background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgb(239, 239, 239)), color-stop(1%, rgb(208, 211, 227)), color-stop(100%, rgba(33,35,41,1))); !* safari4+,chrome *!*/
  /*background: -webkit-linear-gradient(123deg, rgba(33,35,41,1) 0%, rgb(208, 211, 227) 99%, rgb(239, 239, 239) 100%); !* safari5.1+,chrome10+ *!*/
  /*background: -o-linear-gradient(123deg, rgba(33,35,41,1) 0%, rgb(208, 211, 227) 99%, rgb(239, 239, 239) 100%); !* opera 11.10+ *!*/
  /*background: -ms-linear-gradient(123deg, rgba(33,35,41,1) 0%, rgb(208, 211, 227) 99%, rgb(239, 239, 239) 100%); !* ie10+ *!*/
  /*background: linear-gradient(327deg, rgba(33,35,41,1) 0%, rgb(208, 211, 227) 99%, rgb(239, 239, 239) 100%); !* w3c *!*/
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#565761', endColorstr='#212329',GradientType=0 ); !* ie6-9 *!*/
/*}*/

/*div.containment.projects-bg {*/
  /*background: #e2e2e2;*/
/*}*/

.landing-paper-border {
  max-width: 56vw !important;
  background: none !important;
  padding: .6em !important;
  -webkit-box-shadow: inset 0px 0px 0px 0.16em #e0d4be !important;
  -moz-box-shadow: inset 0px 0px 0px 0.16em #e0d4be !important;
  box-shadow: inset 0px 0px 0px 0.16em #e0d4be !important;
  /*background: -moz-radial-gradient(bottom, ellipse cover, rgba(214,198,178,.3) 0%, rgba(209,167,88,.3) 100%); !* ff3.6+ *!*/
  /*background: -webkit-gradient(radial, center bottom, 0px, center bottom, 100%, color-stop(0%, rgba(214,198,178,.3)), color-stop(100%, rgba(209,167,88,.3))); !* safari4+,chrome *!*/
  /*background:-webkit-radial-gradient(bottom, ellipse cover, rgba(214,198,178,.3) 0%, rgba(209,167,88,.3) 100%); !* safari5.1+,chrome10+ *!*/
  /*background: -o-radial-gradient(bottom, ellipse cover, rgba(214,198,178,.3) 0%, rgba(209,167,88,.3) 100%); !* opera 11.10+ *!*/
  /*background: -ms-radial-gradient(bottom, ellipse cover, rgba(214,198,178,.3) 0%, rgba(209,167,88,.3) 100%); !* ie10+ *!*/
  /*background:radial-gradient(ellipse at bottom, rgba(214,198,178,.3) 0%, rgba(209,167,88,.3) 100%); !* w3c *!*/
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6c6b2', endColorstr='#D1A758',GradientType=1 ); !* ie6-9 *!*/
  /*background: -webkit-linear-gradient(7deg, #c3b5a2, #d6c6b2);  !* Chrome 10-25, Safari 5.1-6 *!*/
  /*background: linear-gradient(7deg, #c3b5a2, #d6c6b2); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
}

/*div.containment.aboutme-bg, div.containment.landing-bg, div.containment.projects-bg, div.containment.resume-bg, div.containment.contact-bg {*/
  /*background: #f1f1f1;  !* fallback for old browsers *!*/
  /*!*background: -webkit-linear-gradient(7deg, #c3b5a2, #dcdcdc);  !* Chrome 10-25, Safari 5.1-6 *!*!*/
  /*!*background: linear-gradient(7deg, #c3b5a2, #dcdcdc); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*!*/

  /*background: -moz-linear-gradient(123deg, rgb(68, 71, 83) 0%, rgb(218, 223, 227) 99%, rgb(255, 255, 255) 100%); !* ff3.6+ *!*/
  /*background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgb(255, 255, 255)), color-stop(1%, rgb(218, 223, 227)), color-stop(100%, rgb(68, 71, 83))); !* safari4+,chrome *!*/
  /*background: -webkit-linear-gradient(123deg, rgb(68, 71, 83) 0%, rgb(218, 223, 227) 99%, rgb(255, 255, 255) 100%); !* safari5.1+,chrome10+ *!*/
  /*background: -o-linear-gradient(123deg, rgb(68, 71, 83) 0%, rgb(218, 223, 227) 99%, rgb(255, 255, 255) 100%); !* opera 11.10+ *!*/
  /*background: -ms-linear-gradient(123deg, rgb(68, 71, 83) 0%, rgb(218, 223, 227) 99%, rgb(255, 255, 255) 100%); !* ie10+ *!*/
  /*background: linear-gradient(327deg, rgb(68, 71, 83) 0%, rgb(218, 223, 227) 99%, rgb(255, 255, 255) 100%); !* w3c *!*/
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#565761', endColorstr='#212329',GradientType=0 ); !* ie6-9 *!*/
/*}*/

.aboutme-paper-bg {
  background-color: #000000e3 !important;
  height: 66vh;
  max-width: 1000px !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2F303A', endColorstr='#1A1C22', GradientType=0);
  background: -moz-linear-gradient(123deg, rgba(26, 28, 34, 1) 0%, rgba(0,0,0,0.26) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(0,0,0,0.26)), color-stop(100%, rgba(26, 28, 34, 1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(123deg, rgba(26, 28, 34, 1) 0%, rgba(0,0,0,0.26) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(123deg, rgba(26, 28, 34, 1) 0%, rgba(0,0,0,0.26) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(123deg, rgba(26, 28, 34, 1) 0%, rgba(0,0,0,0.26) 100%); /* ie10+ */
  background: linear-gradient(327deg, rgba(26, 28, 34, 1) 0%, rgba(0,0,0,0.26) 100%); /* w3c */
}

.aboutme-paper-border {
  background: -moz-radial-gradient(bottom, ellipse cover, rgba(142, 189, 246, 0.94) 0%, rgb(26, 41, 63) 100%); /* ff3.6+ */
  background: -webkit-gradient(radial, center bottom, 0px, center bottom, 100%, color-stop(0%, rgb(142, 189, 246)), color-stop(100%, rgb(26, 41, 63))); /* safari4+,chrome */
  background:-webkit-radial-gradient(bottom, ellipse cover, rgb(142, 189, 246) 0%, rgb(26, 41, 63) 100%); /* safari5.1+,chrome10+ */
  background: -o-radial-gradient(bottom, ellipse cover, rgb(142, 189, 246) 0%, rgb(26, 41, 63) 100%); /* opera 11.10+ */
  background: -ms-radial-gradient(bottom, ellipse cover, rgb(142, 189, 246) 0%, rgb(26, 41, 63) 100%); /* ie10+ */
  background:radial-gradient(ellipse at bottom, rgb(142, 189, 246) 0%, rgb(26, 41, 63) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6c6b2', endColorstr='#D1A758',GradientType=1 ); /* ie6-9 */
  /*background: -webkit-linear-gradient(7deg, #c3b5a2, #d6c6b2);  !* Chrome 10-25, Safari 5.1-6 *!*/
  /*background: linear-gradient(7deg, #c3b5a2, #d6c6b2); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
}

*[class^="MuiTouchRipple"] {
  display: none !important;
}

button[class*="MuiButton-disabled"] {
  opacity: 0.5;
}

.Tilt {
  height: calc(100% - 70px);
}

.Tilt-inner {
  display: flex;
}

.bio-col {
  padding: 0 2.5em !important;
}

/* Mobile media queries */
@media only screen and (max-width: 374px) {
  .bio-ul {
    margin: 0;
  }
  .bio-ul li {
    font-size: 11px;
  }
  .mobile-remove {
    display: none;
  }
  .nav-button {
    font-size: .9em !important;
  }
  .bio-text {
    padding: 6px 0 !important;
  }
  .bio-col {
    padding: 0 !important;
  }
  .contact-root {
    max-width: 90vw !important;
  }
  .landing-paper-bg {
    max-width: 90vw !important;
  }
  .landing-paper-content {
    padding: 1em !important;
  }
  .social-grid {
    width: 100% !important;
  }
  .social-grid-col:first-child {
    margin-top: .5em !important;
  }
  .projects-container {
    padding: 0 !important;
    width: 100% !important;
  }
  .projects-container > .container {
    padding: .6em !important;
  }
}
@media only screen and (max-width: 767px) {

  .mobile-remove {
    display: none;
  }

  .custom-tilt, *[class^="LandingPage-customTilt"] {
    padding: 1em !important;
  }

  .contact-left-col {
    padding: 2em !important;
  }

  .contact-right-col,
  .top-left-corner,
  .vertical-divider,
  .portrait-col,
  .underline {
    display: none !important;
  }

  .nav-button {
    padding: 8px 0 !important;
  }

  .contact-link {
    font-size: .9em !important;
    display: block;
    padding: .5em !important;
  }

  .landing-paper-bg {
    padding: .8em !important;
  }

  .bio-title {
    font-size: 1em !important;
    display: block;
    width: 100%;
    text-align: center;
  }

  .bio-text {
    margin-bottom: 1em !important;
    font-size: .99em !important;
  }

  .social-grid, .bio-col {
    padding: 0 !important;
    margin: 0 !important;
  }

  .social-grid {
    width: 100% !important;
  }

  .landing-paper-bg, .contact-paper {
    height: 80vh !important;
  }

  .bio-col {
    margin: 2em auto;
  }
}

@media only screen
and (min-width: 375px)
and (max-width: 767px) {
  .bio-ul li {
    font-size: 11px;
    margin: 0;
  }
  .mobile-remove {
    display: none;
  }
  .projects-container {
    width: unset !important;
  }
  .angle-div {
    transform: skewX(-45deg) translateX(50vw) !important;
  }
  .bio-text {
    padding: 1em;
    font-size: 1em !important;
    margin-bottom: 0 !important;
  }
}
@media only screen
and (min-width: 768px)
and (max-width: 1024px) {
  .mobile-remove {
    display: none;
  }
  .social-grid {
    padding: 0 !important;
    margin: 0 !important;
    width: 70% !important;
  }
  .landing-paper-content {
    padding: 2em !important;
  }
  .container-fluid {
    margin: 2em 0 !important;
  }
  .contact-paper {
    max-width: 70% !important;
  }
  .contact-left-col {
    padding: 0 !important;
    z-index: 100;
    /*padding: 0 !important;*/
    /*display: flex;*/
    height: 100%;
    /*position: relative;*/
    /*flex-grow: 1;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-items: center;*/
  }
  .contact-left-col > div {
    padding: 2em;
    /*width: 100%;*/
    /*top: 25%;*/
    /*width: 100%;*/
    position: absolute;
    /*padding: 2em;*/
  }
  .social-grid {
    width: 80%;
  }
  .react-slideshow-container {
    opacity: .4;
  }
  #contact-message {
    height: 150px;
  }

}



























































